.wrapper {
  margin: 25px 0 100px 0;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  background: #FEFEFF;
  border-radius: 8px;
  padding: 30px;
  width: 100%;
}

.loading {
  pointer-events: none;
  opacity: 0.5;
}

.cardsHeader {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #ECECF9;
  margin: 0;

  li {
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #2D2E46;


    padding: 0 5px;
    flex: 1 1 15%;
    text-align: center;

    &:nth-child(2) {
      flex: 1 1 25%;
      text-align: left;
    }

    &:last-child {
      flex: 1 1 20%;
    }

    &:first-child {
      flex: 1 1 25%;
      text-align: left;
    }
  }
}

.cardsItem {
  display: flex;
  flex-direction: column;

  ul {
    display: flex;
    align-items: flex-start;
    margin: 0;
    padding: 20px;

    li {
      padding: 0 5px;
      width: 15%;
      text-align: center;
      word-wrap: break-word;


      &:nth-child(2) {
        flex: 1 1 25%;
        text-align: left;
      }

      &:last-child {
        flex: 1 1 20%;
        text-align: center;
      }

      &:first-child {
        flex: 1 1 25%;
        text-align: left;
      }
    }
  }
}

.column {
  box-shadow: 0px 4px 18px rgba(45, 46, 70, 0.15), inset 0px 1px 0px rgba(45, 46, 70, 0.15);
}

.cardsActionBtn {
  display: flex;
  justify-content: space-around;

  .ActionBtnD {
    background: #F1453D !important;
    color: #FFFFFF;

    &:hover {
      background: #21268F !important;
      color: #D7D8EF;
    }
  }
}

.linkCard {
  color: #21268F;
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
  position: relative;
  display: inline-block;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #21268F;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
  }

  &:hover:before {
    transform: scale(1);
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.showCard {
  display: flex;
  font-size: 16px;
  color: #2D2E46;
}

.noCards {
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}

.interaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0 25px 0;

  .inputSearch {
    flex: 0 0 70%;
    margin: 0 !important;
  }

  button {
    flex: 0 0 25%;
  }

  @media (max-width: 750px) {
    .inputSearch {
      flex: 0 0 65%;
    }

    button {
      flex: 0 0 30%;
    }
  }

  @media (max-width: 550px) {
    display: block;

    .inputSearch {
      width: 100%;
    }

    button {
      margin-top: 20px;
    }
  }
}

.mobileVersionTitle {
  display: none;
}

@media (max-width: 750px) {
  .cardsHeader {
    display: none;
  }

  .cardsItem {
    ul {
      flex-direction: column;

      li {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 10px 0;
        font-size: 18px;
        text-align: justify !important;
      }
    }
  }

  .mobileVersionTitle {
    display: inline-block;
    font-weight: 500;
    padding-right: 50px;
  }
}

@media (max-width: 650px) {
  .cardFooter {
    flex-direction: column;
  }
}


@media (max-width: 550px) {
  .cardsItem {
    ul {
      li {
        flex-direction: column;
        align-items: center;
      }
    }
  }
  .mobileVersionTitle {
    padding-right: 0;
  }
  .wrapper {
    padding: 15px;
  }
}