.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px 0;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.3s ease-in-out
}

.loading {
  pointer-events: none;
  opacity: 0.5;
}

.learnCardContent {
  background: #F9F9FE;
  border-radius: 8px;
  padding: 45px 35px;
  width: 500px;
  font-size: 18px;

  .title {
    text-align: center;
    display: block;
    font-weight: 600;
    font-size: 25px;
    color: #2D2E46;
    margin-bottom: 33px;
  }

  b {
    display: inline-block;
    margin-right: 5px;
  }
}

.question {
  margin-bottom: 10px;


}

.answer {
  margin-bottom: 45px;
  text-align: justify;
}

.rate {
  color: #2D2E46;

  li {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  label, input {
    cursor: pointer;
  }

  label {
    display: inline-flex;
    align-items: center;
    padding-left: 20px;
  }

  input {
    appearance: none;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      z-index: 0;
      width: 16px;
      height: 16px;
      top: 50%;
      left: -20px;
      transform: translateY(-50%);
      border-radius: 50%;
      transition: border 0.2s ease-in;
      border: 1px solid #2D2E46;
    }

    &:checked {
      &:after {
        border: 4px solid #21268F;
      }
    }

  }

  span {
    font-weight: 600;
    font-size: 18px;
    color: #2D2E46;
  }
}

.btnWrap {
  display: flex;
  margin-top: 50px;
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s ease-in;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  button {
    margin: 0 10px;
  }
}

.disabled {
  opacity: 0.4 !important;
  pointer-events: none;
}