.wrapper {
  display: flex;
  margin: 25px 0 100px 0;
  pointer-events: auto;
  opacity: 1;
  transition: opacity 0.3s ease-in-out
}


.loading {
  pointer-events: none;
  opacity: 0.5;
}

.leftColumn {
  background: #ECECF9;
  border-radius: 8px 0 0 8px;
  padding: 40px 20px;
  flex: 0 0 25%;

  span {
    color: #2D2E46;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    margin-bottom: 20px;

    &:nth-child(3) {
      margin-bottom: 30px;
    }
  }
}

.btnWrap {
  display: flex;
  margin-bottom: 45px;

  button {
    outline: none;
    cursor: pointer;
    width: 100%;
    background-color: white;
    border: none;
    line-height: 36px;
    transition: background 0.3s ease-out, color 0.3s ease-out;
    font-size: 18px;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }
}

.activeBtn {
  background: #9A91C8 !important;
  color: white;
}

///////////////////////////////////////////////////////////////
.rightColumn {
  padding: 30px;
  background-color: white;
  border-radius: 0 8px 8px 0;
  flex: 1 1 80%;

  h3 {
    font-weight: 600;
    font-size: 22px;
    color: #2D2E46;
    margin: 0 0 17px 0;
  }
}

.interaction {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;

  button {
    flex: 0 0 170px;
  }
}

.inputSearch {
  flex: 0 0 70%;
  margin: 0 !important;
}

.packsHeader {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #ECECF9;
  margin: 0;

  li {
    font-weight: bold;
    font-size: 15px;
    line-height: 16px;
    color: #2D2E46;


    padding: 0 5px;
    flex: 1 1 20%;
    text-align: center;

    &:nth-child(2) {
      flex: 1 1 10%;
    }

    &:last-child {
      flex: 1 1 28%;
      text-align: left;
    }

    &:first-child {
      flex: 1 1 25%;
      text-align: left;
    }
  }
}

.packs {
  box-shadow: 0 4px 18px rgba(45, 46, 70, 0.15), inset 0 1px 0 rgba(45, 46, 70, 0.15);
  margin-bottom: 25px;
  max-width: 690px;
}

.packsItem {
  ul {

    display: flex;
    align-items: center;
    margin: 0;
    padding: 20px;

    li {
      padding: 2px 5px;
      width: 20%;
      //height: 25px;
      text-align: center;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:nth-child(2) {
        width: 10%;
      }

      &:last-child {
        width: 28%;
      }

      &:first-child {
        width: 25%;
        text-align: left;
      }
    }
  }
}

.packsActionBtn {
  display: flex;
  justify-content: flex-end;

  .btn {
    display: inline-block;
    font-weight: 600;
    height: 24px;
    width: 55px;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    border: none;
    background: #D7D8EF;
    color: #21268F;
    padding: 0 7px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
    font-size: 16px;

    &:hover {
      background: #21268F;
      color: #D7D8EF;
    }

    @media (max-width: 1040px) {
      margin: 5px;
    }

    @media (max-width: 550px) {
      width: 70px;
    }

  }

}

.pagination {
  display: flex;
  align-items: center;


  li {
    display: inline-block;
    margin: 0 6px;
    min-width: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #2D2E46;
    transition: color 0.3s ease-out, background 0.3s ease-out;

    a {
      cursor: pointer;
      display: inline-block;
      padding: 0 3px;
    }
  }
}

.packsFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 680px) {
    flex-direction: column;
    align-items: center;
  }
}

.selectedValue {
  border: 1px solid #635D80;
  padding: 0 3px;
  cursor: pointer;

  span {
    display: inline-block;
    line-height: 24px;
  }
}

.selectedValueActive {
  .arrow {
    svg {

      transform: rotate(180deg);
    }
  }
}

.select {
  color: #2D2E46;
  position: relative;
  margin: 0 10px;

}

.selectList {
  text-align: center;
  border: 1px solid #635D80;
  position: absolute;
  margin: 0;
  width: 100%;
  top: 35px;
  opacity: 0;
  background-color: #fff;
  transition: opacity 0.2s ease-in, top 0.2s ease-in;
  pointer-events: none;

  li {
    padding: 2px 0;
    cursor: pointer;
    transition: background 0.2s ease-in;

    &:hover {
      background: #D7D8EF;
    }
  }
}

.selectListActive {
  opacity: 1;
  top: 28px;
  pointer-events: auto;

}

.arrow {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;


  svg {
    transition: transform 0.2s ease-in;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.showCard {
  display: flex;
  font-size: 18px;
  color: #2D2E46;

  @media (max-width: 680px) {
    margin: 10px 0;
  }
}

.noPacks {
  text-align: center;
  font-size: 20px;
  padding: 20px 0;
}

.block {
  pointer-events: none;
}


.packsName, .packsCreated {
  color: #000000;
  transition: color 0.3s ease-out, background 0.3s ease-out;
  background-color: rgba(200, 201, 236, 0.59);
  border-radius: 2px;
  padding: 2px 5px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: #21268F;
    color: #fff;

  }
}

.sort {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;

  .arrowSort {
    transition: transform 0.2s ease-in;
    margin-left: 3px;
  }

  &:hover .arrowSort {
    transform: rotate(180deg) translateY(-3px);
  }

  &:hover .sortList {
    pointer-events: all;
    opacity: 1;
    top: 18px;
  }

  .sortList {
    position: absolute;
    top: 30px;
    background-color: white;
    width: 150px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, top 0.2s ease-in-out;
    border: 1px solid #635D80;
    z-index: 10;


    .sortItem {
      display: block;
      padding: 5px 2px;
      transition: background 0.2s ease-in;
      cursor: pointer;

      &.active {
        background-color: #635D80;
        color: white;
      }

      &:hover {
        background-color: #635D80;
        color: white;
      }
    }

  }
}

.sortingColumn {
  display: none;
}

.noCard {
  display: flex;
  align-items: center;
  color: #21268F;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  width: 55px;

  @media (max-width: 1040px) {
    margin: 5px;
  }
}

@media (max-width: 1040px) {
  .wrapper {
    flex-direction: column;
  }

  .btnWrap {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;

    button {
      max-width: 180px;
    }
  }

  .leftColumn {
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: space-around;
    text-align: center;

    .showPackColumn {
      flex: 0 0 30%;
    }

    .inputRangeColumn {
      flex: 0 0 30%;
    }

    .sortingColumn {
      flex: 0 0 30%;
      display: block;
    }
  }

  .rightColumn {
    border-radius: 0 0 8px 8px;
  }

  .interaction {
    justify-content: space-between;
  }

  .packsHeader {
    li {
      flex: 1 1 20% !important;

      &:not(:first-child) {
        justify-content: center;
        text-align: center !important;
      }
    }

    .sortList {
      display: none;
    }

    .arrowSort {
      display: none;
    }
  }

  .packsItem {
    li {
      width: 20% !important;
    }
  }

  .packsActionBtn {
    flex-wrap: wrap;
    justify-content: center;

  }
}

.mobileVersionTitle {
  display: none;
}

@media (max-width: 750px) {
  .leftColumn {
    flex-direction: column;
    align-items: center;

    .showPackColumn {
      width: 50%;
    }

    .inputRangeColumn {
      width: 50%;
      margin: 30px 0;
    }

    .sortingColumn {
      width: 50%;
    }
  }
}

@media (max-width: 680px) {
  .mobileVersionTitle {
    display: inline-block;
    font-weight: 600;
    text-align: left;
    white-space: nowrap;
  }

  .packsHeader {
    display: none;
  }

  .packsItem {
    ul {
      flex-direction: column;

      li {
        width: 100% !important;
        text-align: center !important;
        font-size: 18px;
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        word-break: break-all;
      }
    }
  }

  .inputSearch {
    flex-basis: 60%;
  }
  .noCard {
    font-size: 16px;
  }
}

@media (max-width: 550px) {
  .interaction {
    display: block;

    button {
      margin-top: 20px;
    }
  }

  .mobileVersionTitle {
    text-align: center;
  }

  .packsItem {
    ul {
      padding: 0;

      li {
        flex-direction: column;
        align-items: center;
        white-space: normal;
        overflow: visible;
      }
    }
  }

  .leftColumn {
    .showPackColumn {
      width: 100%;
    }

    .inputRangeColumn {
      width: 100%;
    }

    .sortingColumn {
      width: 100%;
    }
  }

  .rightColumn {
    padding: 15px;
  }

  .pagination {
    li {
      margin: 0 3px;
    }
  }
}

@media (max-width: 350px) {
  .pagination {
    li {
      margin: 0 1px;
    }
  }
}

