.wrapper {
  display: flex;
  margin: 0 20px;
}

.radio {
  position: relative;
  margin: 0 40px;
  display: flex;
  align-items: center;
}

.radioInput {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
}

.radioLabel {
  padding-left: 25px;
  font-size: 1.5rem;
  color: #444;
  cursor: pointer;
}

.radioLabel:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;

  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;

  transition: border .1s linear;
}

.radioLabel:after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;

  background-color: #49d120;
  border-radius: 50%;
  opacity: 0;

  position: absolute;

  left: 3.5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  transition: opacity .1s linear;
}

.radioInput:checked + .radioLabel:before {
  border-color: #319612;
}

.radioInput:checked + .radioLabel:after {
  opacity: 1;
}


