.sortingSelect {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  border: 1px solid #000;
}

.arrow {
  margin-left: 5px;
  transition: transform 0.2s ease-in;

  &.active {
    transform: rotate(180deg);
  }

  svg {
    width: 15px;
    height: 15px;
    object-fit: cover;
  }
}

.selected {
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: rgb(248, 247, 253);
  border-radius: 8px;
  padding: 10px;
  justify-content: center;
  width: 200px;
  border: 2px solid transparent;
  border-bottom: none;
  transition: border 0.2s ease-in-out;

  &.active {
    border-radius: 8px 8px 0 0;
    border: 2px solid #21268F;
    border-bottom: none;
  }
}

.sortList {
  position: absolute;
  top: 20px;
  width: 200px;
  opacity: 0;
  text-align: left;
  background-color: rgb(248, 247, 253);
  margin-top: 30px;
  border-radius: 0 0 8px 8px;
  transition: top 0.2s ease-in-out, opacity 0.2s ease-in-out, border 0.2s ease-in-out;
  pointer-events: none;
  border: 2px solid transparent;
  border-top: none;
  z-index: 2;

  &.active {
    top: 10px;
    opacity: 1;
    pointer-events: all;
    border: 2px solid #21268F;
    border-top: none;
  }

  .sortItem {
    padding: 10px 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

    &:last-child {
      border-radius: 0 0 8px 8px;
    }

    &:hover {
      background-color: #9A91C8;
      color: white;
    }

    &.active {
      background-color: #9A91C8;
      color: white;
    }
  }
}

.selectedItem {
  color: #2D2E46;
  font-weight: 600;
}
