.wrapper {
  position: fixed;
  width: 100%;
  background: rgba(103, 103, 107, 0.5);
  z-index: 10;
  backdrop-filter: blur(10px);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 20px;
  }
}

.list {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;

  li {

    list-style: none;
    font-size: 20px;
    margin: 0 20px;
  }
}

