body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: linear-gradient(#E6D4DE, #9890C7);
    width: 100%;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    box-sizing: border-box;
}

main {

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    padding: 0;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: black;
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
    background-color: white !important;
    background-clip: content-box !important;
}

.selected {
    color: #F2F5F7 !important;
    background: #21268F;
    border-radius: 2px;
}

.previous, .next {
    width: 20px;
    height: 20px;
    background: url(./ui/images/icons/arrow.svg) center/contain no-repeat;
    transition: opacity 0.2s ease-in-out;
}

.next {
    background: url(./ui/images/icons/arrow.svg) 0 2px/contain no-repeat;
    transition: opacity 0.2s ease-in-out;
    transform: rotate(180deg);
}

.previous a {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.next a {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.disabled {
    opacity: 0.5;
    pointer-events: none
}


.rc-slider-handle-1, .rc-slider-handle-2 {
    background-color: #FFFFFF !important;
    border: 4px solid #21268F !important;
    height: 18px !important;
    width: 18px !important;
}
